<% if cat && cat.persisted? %>
    <% if cat.image.attached? %>
        <%= image_tag cat.image, style: "width: 120px; display: block" %> 
    <% end %>
    <br>
<% end %>

<%= form_with model: cat do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :photo %>
        <%= f.file_field :image %>
    </div>
        <%= f.label :sex %>
        <%= f.label :sex, 'M' %>
        <%= f.radio_button :sex, 'M' %>
        <%= f.label :sex, 'F' %>
        <%= f.radio_button :sex, 'F' %>
    <div>
        <%= f.label :color %>
        <%= f.select :color, Cat.get_cat_colors, { prompt: "Select Color" } %>
    </div>
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date %>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>