<h1>New Rental Request</h1>

<%= form_with model: @cat_rental_request do |f| %>
    <div>
        <%= f.label :cat_id %>
        <% if @cat_id %>
            <%= f.select :cat_id, Cat.get_cat_ids, { selected: @cat_id }, :onchange => "location.href = '/cats/#{}/cat_rental_requests/new'" %> <%= Cat.find(@cat_id).name %> 
        <% else %>                                                                          
            <%= f.select :cat_id, Cat.get_cat_ids, { prompt: "Select Cat" } %>
        <% end %>    
    </div>
    <div>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
    </div>
    <div>
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>